body{
    background: #f0dccc;
}


.container{
    width: 800px;
    height: 600px;

    display: flex;
    flex-direction: row;
    background: red;
}


.container .calendar{
    width: 60%;
    height: 100%;
    background: blue;
}


.container .events{
    height: 100%;
    width: 40%;
    background: green;
}